{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/news.css' %}">
	<title>HorribleMe | Info</title>

</head>
<body>
	<div class="page-header">
	<h1><a href='/' id="headTitle">News Express</a></h1>
	</div>
	{% if presentAcc == None %}
	<p class="infoWarning">Please edit your info.</p>
	{% endif %}
	<div class='userInfo'>
		<p><b>Account:</b>  {{presentAcc.user}}</p><br>
		<p><b>Nickname:</b>  {{presentAcc.nickname}}</p><br>
		<p><b>Email:</b>  {{presentAcc.email}}</p><br>
		<p><b>Follow:</b>  {{presentAcc.follow}}</p><br>
		<p><b>Fans:</b>  {{presentAcc.fans}}</p><br>
		<img src="{% url 'editInfo' %}media/{{presentAcc.headPic}}"" width="200" height="200" class="userPic" /><br>
	</div>

	<hr>
		<form method="POST" action="">{%csrf_token%}
			<input type="hidden" name="type" value="checkFollow" />
			<input type="hidden" name="nickname" value="{{presentAcc.nickname}}" action=""></input>
			<button id="checkFollow" type="submit">Check Follow</button>
		</form>
		<form method="POST" action="">{%csrf_token%}
			<input type="hidden" name="type" value="checkFans" />
			<input type="hidden" name="nickname" value="{{presentAcc.nickname}}" action=""></input>
			<button id="checkFans" type="submit">Check Fans</button>
		</form>
		<form method="POST" action="">{%csrf_token%}
			<input type="hidden" name="type" value="checkSave" />
			<input type="hidden" name="nickname" value="{{presentAcc.nickname}}" action=""></input>
			<button id="checkSave" type="submit">Check Save</button>
		</form>

	<br>
	<hr>
	<div class="myHr">
	<h2><b>Edit Your Info Here: </b></h2><br>
	</div>
	<form method="POST" enctype="multipart/form-data" id="editInfo">
	{%csrf_token%}
	{{ form.as_p }}
	<input type="hidden" name="type" value="editInfo" />
	<button type="submit" id="infoSubmit">Edit</button>
	</form>
</body>

<br>
<footer>
	<p id='footClaim'>Copyright © 2016 HorribleMe. All rights reserved.</p>
</footer>
</html>