{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/news.css' %}">
	<title>HorribleMe | Visit</title>

</head>
<body>
	<div class="page-header">
	<h1><a href='/' id="headTitle">News Express</a></h1>
	</div>
	<div class='userInfo'>
		<p><b>Account: {{info.user}}</b></p><br>
		<p>Account Nickname: {{info.nickname}}</p><br>
		<p>Account Email: {{info.email}}</p><br>
		<p>Account Follow: {{info.follow}}</p><br>
		<p>Account Fans: {{info.fans}}</p><br>
		<img class="userPic" src="{% url 'editInfo' %}media/{{info.headPic}}"" width="200" height="200" />
		<hr>
		<form method="POST" action="">{%csrf_token%}
			<input type="hidden" name="type" value="like" />
			<input type="hidden" name="nickname" value="{{info.nickname}}" action=""></input>
			<button type="submit">Follow</button>
		</form>
		<form method="POST" action="">{%csrf_token%}
			<input type="hidden" name="type" value="unfollow" />
			<input type="hidden" name="nickname" value="{{info.nickname}}" action=""></input>
			<button type="submit">Unfollow</button>
		</form>
	</div>
</body>

<br>
<footer>
	<p id='footClaim'>Copyright © 2016 HorribleMe. All rights reserved.</p>
</footer>
</html>