{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/news.css' %}">
	<title>HorribleMe | News</title>

</head>
<body>
	<div class="page-header">
	<h1><a href='/' id="headTitle">News Express</a></h1>
	<h4><a class="logLink" href="{% url 'editInfo' %}">{{ state3 }}</a></h4><br>
	<h4><a class="logLink" href="{% url 'home' %}accounts/login">{{state1}}</a></h4><br>
	<h4><a class="logLink" href="{% url 'home' %}accounts/logout">{{state2}}</a></h4>
	</div>

	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				<div class="newsList">
				<h2>{{ new.id }}.{{ new.title }}</h2><br>
				<p>{{ new.content }}</p><br>
				<img src="{% url 'home' %}media/{{new.img}}" width="800" height="600" /><br>
				<hr>
				<p id = 'date'><b>{{ new.author }}</b> at {{new.time}}</p><br>
				<form method="POST" action="">{%csrf_token%}
						<input type="hidden" name="type" value="save" />
						<input type="hidden" name="newsId" value="{{new.id}}" action=""></input>
						<button type="submit">save</button>
					</form>
				</div><br>

				<h3>Comments: </h3><br>
				{% for comment in comments %}
				<div>
					<p>{{ comment.content }}</p><br>
					<p><b><a href='http://127.0.0.1:8000/visit/?name={{comment.author.username}}'>{{comment.author}}</a></b> at {{comment.time}}</p>
					<p>Support: {{comment.support}} </p>
					<form method="POST" action="">{%csrf_token%}
						<input type="hidden" name="type" value="support" />
						<input type="hidden" name="commentId" value="{{comment.id}}" action=""></input>
						<button type="submit">support</button>
					</form>
					<HR style="border:1 dashed #987cb9" width="100%" color=#66B3FF SIZE=1>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr>
	<form method="POST" class="post-form">{%csrf_token%}
	{{ form.as_p }}
	<input type="hidden" name="type" value="post" />

	<button type="submit">comment</button>
	</form>
</body>

<br>
<footer>
	
</footer>
</html>