{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/news.css' %}">
	<script type="text/javascript" src='/static/js/newsWeb.js'></script>
	<title>HorribleMe</title>

</head>
<body>
	<div class="page-header">
	<h1><a id='test' href='/'>News Express</a></h1>
	<h4><a class="logLink" href="./account_info/">{{ state3 }}</a></h4><br>
	<h4><a class="logLink" href="./accounts/login/">{{ state1 }}</a></h4><br>
	<h4><a class="logLink" href="./accounts/logout/">{{ state2 }}</a></h4>
	</div>

	<form method="post" class="searchTitle">
	{% csrf_token %}
	{{form1}}
	<input type="submit" value="Search">
	</form>
	<form method="post" class="searchContent">
	{% csrf_token %}
	{{form2}}
	<input type="submit" value="Search">
	</form>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% for new in news %}
				<div class="newsList">
				<h2><a href='./show/?title={{new.title}}'>{{ new.title }}</a></h2>
				<p><b>{{ new.author }}</b> at {{new.time}}</p>
				<img src='./media/{{new.img}}' width="1150" height="700"/>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>

<br>
<footer>
	
</footer>
</html>